# macOS
.DS_Store

# Windows
Thumbs.db

# Visual Studio Code
.vscode/

# JetBrains IDEs
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/

# Sublime Text
*.sublime-workspace
*.sublime-project

# Vim
*.swp

# Visual Studio
.vs/

# Other
*.log
*.tmp
